body {
	background: white;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

#emergencia {
	height: 20px;
	text-align: right;
	position: fixed;
	width: 100%;
	z-index: 990;
}

header {
	background: url(../img/fondo-logo.jpg);
	height: 150px;
	width: 100%;
}

#logo {
	background: url(../img/logo.png);
	height: 150px;
	margin: auto;
	width: 1000px;
}

#logo-n {
	background: url(../img/logo2.png);
	height: 150px;
	margin: auto;
	width: 1000px;
}

nav {
	background: black;
	height: 50px;
	width: 100%;
}

#menu {
	height: 50px;
	margin: auto;
	width: 1000px;
}

#bann {
	background: white;
	height: 410px;
	width: 100%;
}

#banner {
	height: 410px;
	margin: auto;
	width: 1200px;
}

#intro {
	background-color: #C1F2C2;
	
	background-position: center;
	background-repeat: repeat-y;
	height: auto;
	width: 100%;
}

#conte-intro {
	background: white;
	height: 410px;
	margin: auto;
	width: 1000px;
}

#txt-intro1 {
	background: #b0d7b3;
	font-size: 1.3em;
	height: 350px;
	padding: 30px;
	width: 730px;
}

#txt-intro1:hover {
	background: #d3edd3;
   
}

#txt-intro2 {
	background: #b0d7b3;
	font-size: 1.3em;
	height: 350px;
	padding: 30px;
	width: 730px;
}

#txt-intro2:hover {
	background: #d3edd3;
	
}

#txt-intro3 {
	background: #b0d7b3;
	font-size: 1.3em;
	height: 350px;
	padding: 30px;
	width: 730px;
}

#txt-intro3:hover {
	background: #d3edd3;
   
}

#titulo-intro {
	background: #2e8b57;
	color: white;
	font-size: 1.5em;
	font-weight: bolder;
	height: 30px;
	line-height: 30px;
	margin: auto;
	text-align: center;
	width: 990px;
}

#img-intro1 {
	background: url(../img/intro1.jpg);
	height: 350px;
	vertical-align: top;
	width: 250px;
}

#img-intro2 {
	background: url(../img/intro2.jpg);
	height: 350px;
	vertical-align: top;
	width: 250px;
}

#img-intro3 {
	background: url(../img/intro3.jpg);
	height: 350px;
	vertical-align: top;
	width: 250px;
}

#txt-intro1, #img-intro1 {
	display: inline-block;
	margin-left:5px;
	margin-top: 5px;
}

#txt-intro2, #img-intro2 {
	display: inline-block;
	margin-left:5px;
	margin-top: 5px;
}

#txt-intro3, #img-intro3 {
	display: inline-block;
	margin-left:5px;
	margin-top: 5px;
}

#contenedor {
	background-color: #C1F2C2;
	
	background-position: center;
	background-repeat: repeat-y;
	height: auto;
	width: 100%;
}

#contenido {
	background-color: white;
	background-image: url(../img/imgi.png);
	background-position: top;
	background-repeat: no-repeat;
	height: auto;
	margin: auto;
	width: 1000px;
}

#contenido-2 {
	background-color: white;
	background-image: url(../img/imgi.png);
	background-position: top;
	background-repeat: no-repeat;
	height: auto;
	margin: auto;
	width: 1000px;
}

#titulos {
	color: #6C9;
	font-size: 2em;
	font-weight: bold;
	height: 250px;
	line-height: 400px;
	text-align: right;
	padding: 0 70px;
	width: 1000px
}

#contexto {
	color: #006400;
	font-size: 1.3em;
	height: auto;
	padding: 0 70px;
	width: 1000px;
}

#contexto-2 {
	color: #006400;
	font-size: 1.3em;
	height: auto;
	padding: 0 70px;
	text-align: justify;
	vertical-align: top;
	width: 550px;
}
#contexto-3 {
	color: #006400;
	font-size: 1.3em;
	height: auto;
	padding: 0 70px;
	text-align: justify;
	vertical-align: top;
	width: 1000px;
}
#contexto-4 {
	color: #006400;
	font-size: 1.3em;
	height: auto;
	padding: 0 50px;
	text-align: justify;
	vertical-align: top;
	width: 550px;
}

#img1-2 {
	background: url(../img/vet.jpg);
	
	height: 390px;
	margin: 0 45px;
	width: 350px;
   
}
#imgs {
	background: url(../img/servicio.png);
	
	height: 490px;
	margin: 0 45px;
	width: 350px; 
}
#imgse {
	background: url(../img/serv.jpg);
	
	height: 490px;
	margin: 0 45px;
	width: 340px; 
}

#contexto-2, #img1-2 {
	display: inline-block;
}
#contexto-4, #imgs {
	display: inline-block;
}

#img1 {
	background: url(../img/img1.jpg);
	height: 300px;
	margin: auto;
	width: 700px;
}
#imge {
	background: url(../img/bañodeperros.jpg);
	height: 450px;
	margin: auto;
	width: 300px;
}
#imgc {
	background: url(../img/contacto.png);
	height: 500px;
	margin: auto;
	width: 500px;
}
#imgt {
	background: url(../img/perro.jpg);
	height: 450px;
	margin: auto;
	width: 600px;
}
#imgin {
	background: url(../img/inst.jpg);
	height: 500px;
	margin: auto;
	width: 700px;
}
footer {
	background: black;
	color: white;
	height: 40px;
	text-align: center;
	width: 100%;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: #3cb371;
	text-decoration: underline;
}